.Navbar {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100vw;
  padding: 4px;
  /* background: rgb(28,28,24); */
}

.Navbar h1 {
  font-family: 'Fira Mono', monospace;
  font-size: 1em;
  font-weight: lighter;
  color: rgb(160, 167, 167);
  padding: 0 8px;
}

.Navbar-logo {
  width: 24px;
  height: 24px;
  padding: 6px;
  margin-left: 4px;
  background: radial-gradient(rgb(175, 187, 187), rgb(160, 167, 167));
}