.Navbar {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100vw;
  height: 72px;
  padding: 4px;
  background: rgb(28,28,24);
}

.Navbar h1 {
  font-family: 'Qwigley', cursive;
  font-size: 3.5em;
  color: palegoldenrod;
  padding: 0 8px;
}

.Navbar-logo {
  width: 48px;
  padding: 8px 8px;
  margin: 0 8px;
  background: linear-gradient(white, palegoldenrod);
}